html,
body,
#root,
.main,
canvas {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('assets/space-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.userControls {
  background: rgba(255,255,255, 0.9);
  position: fixed;
  top: 0;
  left:0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
